table {
    width: 100%;
    min-width: max-content;

    .mat-column-actions {
        width: 128px;
    }

    .no-data {
        text-align: center;
        padding-top: 10px;
    }
}

.floating-button {
    position: fixed;
    margin-top: -36px;
    margin-left: 1rem;
}
