<!-- Remove multiple button -->
<button
    *ngIf="selection.selected.length > 0"
    class="floating-button"
    mat-mini-fab
    color="warn"
    (click)="onDeleteMultiple()"
    data-test="delete-multiple">
    <mat-icon>delete</mat-icon>
</button>

<table mat-table [dataSource]="users" data-test="users">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
                [disabled]="users.length === 0"
                data-test="select-all">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let user" [attr.data-test]="user.name">
            {{ user.name }}
        </td>
    </ng-container>

    <!-- E-mail Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-mail</th>
        <td mat-cell *matCellDef="let user" [attr.data-test]="user.email">
            {{ user.email }}
        </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let user" data-test="options">
            <button
                mat-icon-button
                color="primary"
                (click)="onEdit(user)"
                [disabled]="selection.selected.length > 0"
                data-test="edit">
                <mat-icon>edit</mat-icon>
            </button>
            <button
                mat-icon-button
                color="warn"
                (click)="onDelete(user)"
                [disabled]="selection.selected.length > 0"
                data-test="delete">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" colspan="4" data-test="no-data">
            Não há usuários cadastrados
        </td>
    </tr>
</table>
