// Mixins
@import "mixins/grid";
@import "mixins/breakpoints";

@import "variables";
@import "responsive";

.fw-bolder {
    font-weight: 500;
}

.float-right {
    float: right;
}

.mx-auto {
    margin: 2em auto;
}
