<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ user ? "Atualizar Usuário" : "Novo Usuário" }}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="formGroup">
            <section class="d-flex align-items-start">
                <!-- Name -->
                <mat-form-field>
                    <mat-label>Nome completo</mat-label>
                    <input matInput formControlName="name" placeholder="Ex. Leanne Graham">
                    <mat-error>{{ getErrorMessage("name") }}</mat-error>
                </mat-form-field>

                <!-- E-mail -->
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email" placeholder="Ex. sincere@april.biz">
                    <mat-error>{{ getErrorMessage("email") }}</mat-error>
                </mat-form-field>
            </section>

            <!-- Favorite technologies -->
            <section formArrayName="technologies">
                <h4 class="fw-bolder">Selecione suas tecnologias favoritas:</h4>
                <div class="row">
                    <mat-checkbox class="col-md-3 col-sm-6" *ngFor="let technology of technologies; let i = index" [formControlName]="i">
                        {{ technology }}
                    </mat-checkbox>
                </div>
            </section>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="onCancel()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="onSave()">Salvar</button>
    </mat-card-actions>
</mat-card>
